
@media(max-width: 475px){

    .container{
        background-image: url('../images/imgBackgroundMobile.png');
        background-size: 375px 1000px ;
        height: 1000px;

        grid-gap: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 0.6fr 1fr;
    }

    .contentInfo{
        height: 14.125rem;
        width: 20.438rem;
        grid-column: 1/1;
        grid-row: 1/2;
        justify-self: center;
        text-align: center;
    }

    .contentInfo>h3{
        line-height: 2.25rem;
        height: 5rem;
        font-size: 1.75rem;
    }

    #infoFormPreco{
        height: 5.5rem;
        width: 20.438rem;
        padding: 1.25rem 4.125rem 1.25rem 4.125rem;
    }
    
    #infoFormPreco>p{
       text-align: center;
    }
    .contentForm{    
        grid-column: 1/1;
        grid-row: 2/3;
        justify-self: center;
        margin-top: -10rem;
    }

    #form{
        height: 27.625rem; 
        width: 20.438rem;
        padding: 1.5rem;
    }

    input,button{
        width: 17.438rem;
        height: 3.5rem; 
    }
}
